.container {
    display: flex;
    margin-top: 200px;
    font-weight: 200;
    justify-content: center;
}

.image {
    width: 500px;
    height: 400px;
    border-radius: 20px;
}

.button {
    padding: 20px;
    margin: 180px 15px;
    background: royalblue;
    color: white;
    cursor: pointer;
    border-radius: 10px;![](assets/images/3.jpeg)
}

.button:active {
    background-color: darkmagenta;
}